<html>
<head></head>
<body>

<h2 th:text="'Flight Updates for ' + ${passengerName}"></h2>

<ul>
    <li th:each="update : ${updates}" th:text="${update.key.flightNumber} + ', ' + ${update.key.date} + ': ' + ${update.value}"></li>
</ul>

</body>
</html>