<html>
<head></head>
<body>

<h2>View Flight Updates for Passenger</h2>

<ul>
    <li th:each="passenger : ${passengers}">
        <a th:href="@{/flight-subscriptions/{passengerId}(passengerId=${passenger.id})}" th:text="${passenger.name}"></a>
    </li>
</ul>

</body>
</html>